@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="card">
    <button class="qbbutton" id="company">Company</button>
    <label class="sep">:</label>
    <label class="info" id="company-info"></label>
</div>
<div class="card">
    <button class="qbbutton" id="invoice">Invoice</button>
    <label class="sep">:</label>
    <label class="info" id="invoice-info"></label>
</div>
<div class="card">
    <button class="qbbutton" id="item-sales">Item Sales</button>
    <label class="sep">:</label>
    <label class="info" id="itemsales-info"></label>
</div>
<div class="card">
    <button class="qbbutton" id="bill">Bill</button>
    <label class="sep">:</label>
    <label class="info" id="bill-info"></label>
</div>
<div class="card">
    <button class="qbbutton" id="check">Check</button>
    <label class="sep">:</label>
    <label class="info" id="check-info"></label>
</div>

<div class="modal fade" id="messageModal">
    <div class="modal-dialog">
        <div id="messageDialog"></div>
    </div>
</div>
